.Home{
    background-color: rgb(174, 206, 207);
    /* border: 3px solid green; */
    padding: 10px;
    /* text-align: center; */
    /* height: 800px; */
    /* min-height: 950px; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    /* display: block; */
    /* background-image: url("../../shered/image1.png"); */
    
    /* max-width: 99%;
    max-height: 99%; */

    max-height: 99% !important;
    /* width: 99%;  */

    /* opacity: 0.5; */

    scroll-behavior: smooth;
    position: relative;
}

.Home ul {
height: 0 !important;
}

.Slides{
    width: 100%;
    padding-right: 52px;
}

.slick-slide .slick-active .slick-center .slick-current{
    padding-right: 52px !important;
    background-color: red !important;
}
/* .slick-list {
    padding-right: 100px !important;
} */
 .Img{
    background-repeat: no-repeat;
    /* opacity: 0.5; */
    max-height: 95%;

    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    
    width: 99%;
}

img {
    background-repeat: no-repeat;
    /* opacity: 0.5; */
    max-height: 95%;
    max-width: 95%;
    background-position: center;  
    background-repeat: no-repeat;  
    background-size: cover;   
 
} 

.Selected{ 
    
    height: 200px ;  
    min-width: 350px;
    max-width: 400px;
    background-color: rgb(147, 176, 148); 
    border: 2px solid rgb(24, 23, 23);
    border-radius: 15px;
    position: absolute;
    top: 3%;  
    /* justify-content:center; */
}

 .Selected h3 {
    color: black;
    border-color: black;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;

}

.Selected h4{
    color: black;
    border-color: black;
    font-size: 30px;
    text-align: left;
    text-transform: lowercase;
    font-style: italic; 
    margin-left: 10px;
}


.TextImage{
    position: absolute;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 16px;

}
.TextImage2{
    position: relative;

}
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }

.Spotify{
    margin-top: 74px;
    margin-left: auto;
    margin-right: auto;
    
    /* width: 300px; */
}


section {
    position: relative;
    width: 100%;
    height: 100%;
  }
  section::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  }
  section h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    font : normal 300 64px/1 'Josefin Sans', sans-serif;
    text-align: center;
    white-space: nowrap;
  }


  .Scroll {
      width: 120px;   
      height: 30px; 
      background-color: rgb(115, 146, 146);     
      margin-bottom: 6px;
      border-radius: 10px;
      text-align: center;
      margin-left: 15px;
   }

  .Scroll a { 
      color: white;
      /* height: 30px;
      width: 85px; */
      text-align: center;   
  }

  .ScrollHome  {
    width: 100px;   
    height: 60px; 
    background-color: rgb(115, 146, 146);      
    margin-bottom: 6px;
    border-radius: 10px;
    text-align: center;
    margin-left: 15px;
 }
 
 .ScrollHome a { 
    color: white;
    /* height: 30px;  */
}

.Scroll .ScrollHome :after {  
    right: -20px;
    transition: 0.5s;  
}

 .ScrollHome:hover{ 
    content: '\00bb';
    padding-right: 25px;
    background-color: rgb(31, 32, 32);      
}

.Scroll:hover{ 
    content: '\00bb';
    padding-right: 25px;
    background-color: rgb(31, 32, 32);      
}