/*TodoList_List:  warpper div */

.TodoList{


}

/* .TodoList_List{
    min-height: 900px; 
    max-width: 90%;
    display: flex;
} */
/* .TodoList h2{
    display: contents;
} */

.TodoList > p {
    height: 50px;
    border: 1px solid rgb(12, 11, 11); 
    font-size: 2em;
    margin-left: 1em;
    margin-right: 1em;   
}
 
.Lists {
    display: grid;
    grid-template-columns: 45% 45% ;
    grid-template-rows: 25%;
    grid-gap: 1em; 

}

.Lists_Lists{
    display: grid;
    grid-template-columns: 45% 45% ;
    /* grid-template-rows: 25%; */
    grid-gap: 5em;
}
 
.Test{
    background-color: blue;
    padding: 1em;
    color: white;
    height: 300px;
}

.Test:nth-child(odd){
    background-color: teal;
}



/*UnDONE : Working On List  */
.UnDONE{
    display:grid ;
    grid-gap: 1em;
    /* grid-template-columns: repeat(2,0.75fr); */
    grid-template-columns: 1fr 1fr;

    margin-left: 2em;    
    /* grid-auto-rows: minmax(100px,auto);
    grid-auto-columns: minmax(100px,auto); */
} 

.UnDONE_List{
    display:list-item ;
    margin-left: 2em; 
    margin-top: 1em;       
    list-style-type: none;  
}
/*END UnDONE */


/*DONE:  Completed List */
.DONE {
    display:grid ;
    grid-gap: 1em;
    /* grid-template-columns: repeat(2,0.5fr); */
    grid-template-columns: 1fr ;
    margin-left: 5em;    
}

.DONE  .ULClass{ 
    background-color: rgb(185, 195, 191);  
    border: 2px solid rgb(12, 11, 11);
    border-radius: 15px; 
}

.DONE_List {
    display:list-item ;  
    margin-top: 1em ; 
    list-style-type: none;  
} 

.DONE_List  .ULClass{ 
    background-color: rgb(185, 195, 191);  
    border: 1px solid rgb(12, 11, 11);
    border-radius: 15px; 
}
  
/*DONE end */

/* BUTTONS */
.Delete{
    border: 3px rgb(54, 49, 49); 
    color: black;  
    height: 30px;
    font-size: medium;
    background-color: rgb(199, 62, 62); 
    border-radius: 10%; 
    width: 26%;
}  

.Delete:hover{
  border: rgb(red, green, blue);
}

.Finish , .EditItem{
    border: 3px rgb(54, 49, 49); 
    color: black;  
    height: 30px;
    font-size: medium;
    background-color: rgb(82, 150, 88); 
    border-radius: 10%;   
    width: 20%; 
}  

/* BUTTONS END */
 


.ULClass{ 
    width: 300px;   
    background-color: rgb(147, 176, 148); 
    border: 2px solid rgb(243, 238, 238);
    border-radius: 15px; 
    padding: 20px;
    list-style-type: none;  
}

.ULClass:hover, .ULClass:active{

    border: 4px solid rgb(45, 49, 44);
    border-radius: 15px;
}

.ULClass h3,
.ULClass p{
    margin-top: 0;
    font-size: 1.75em;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;  
}
.ULClass h4{
    font-size: 1.5em;
    text-align: left;
    text-transform: lowercase;
    font-style: italic; 
    margin-left: 10px;
}
.ULClass button{
    margin-left: 10px;
    margin-right: 1em;
    max-width: 25%;
} 


@media (max-width: 1300px){
.DONE {
    display:grid ;
    grid-gap: 1em;
    /* grid-template-columns: repeat(2,0.5fr); */
    grid-template-columns: 1fr;
    margin-left: 5em;    
}

.TodoList > p {
    display: none;
}
.Sliderround{
    display: none;
}
.Switch{
    display: none;
}
 
}

@media (max-width: 1300px){
    .Lists{
        grid-template-columns: auto;
        display:list-item;
    }
    
.ULClass{ 
    width: 200px;
    height: 170px;   
    
}
.ULClass button{
    margin-left: -4px;
    margin-right: 1.5em;
    max-width: 40%;
    font-size: small;
} 

.Delete{ 
    width: 34%;
    margin-left: -5px;
}  

.ULClass h3,
.ULClass p{
    margin-bottom: 0;
    margin-top: 0;
 }
 
.ULClass h4{
    margin-top: 0;
 }
 

 .DONE {
     margin-left: 1.5em;
     display: list-item;
     grid-template-columns: none;
    list-style-type: none;  
}

.UnDONE{
    margin-left: 1.5em;
    display: list-item;
    grid-template-columns: none;
    list-style-type: none;  
}
.ULClass{ 
    width: 200px;   
    background-color: rgb(147, 176, 148); 
    border: 2px solid rgb(243, 238, 238);
    border-radius: 15px; 
    padding: 20px;
    list-style-type: none;  
}
 
}
/* 
.Exam{
    color: red;
} */

#Exam{
    color: red;
}


/* @media (max-width: 1000px){
    .UnDONE{ 
        display: list-item ;
        margin-left: 20px;    
        max-width: 85%;
        overflow: scroll;
    }
    .DONE{ 
        display: list-item ;  
        margin-left: 20px;    
        max-width: 85%;
    } 
} */

/* @media (max-width: 499px){
    .UnDONE{
        grid-gap: 50px;
        display: list-item ; 
        margin-left: 20px;    
        max-width: 85%; 
        overflow: scroll;
    }
    ul{
        height: 128px;
        width: 150px; 
    } 
    ul h3{
        max-height: fit-content;
    }
    ul h4{
        max-height: fit-content;
        height: 17px;
    }
    ul button{
        margin: 1px;
        height: 17x;
        width: 80px;
        font-size: 12px;
        margin-right: 22px;
        margin-left: -27px;
    }
    .Finish ,.Delete {
        height: 27x;
        width: 80px;
        font-size: 15px;
        border-radius: 10%;  
    }
}   */

.Switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 35px;
    
  }
  
  .Switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .Sliderround {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .Sliderround:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    
  }
  
  input:checked + .Sliderround {
    background-color: #2196F3;
  }
  
  input:focus + .Sliderround {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .Sliderround:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .Sliderround1 {
    border-radius: 34px;
  }
  
  .Sliderround1:before {
    border-radius: 50%;
  }
 

  /*
 *  STYLE for scroll bar
 */

/* .UnDONE::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color:  #F5F5F5;
} */

/* .UnDONE::-webkit-scrollbar
{
    width: 12px;
} */

/* .UnDONE::-webkit-scrollbar-thumb
{
    border-radius: 10px; 
    background-color: rgb(29, 25, 25);
} */

.Scroll  a {
    color: white;
    text-shadow: rgb(rgb(83, 81, 81), green, blue);
}