.App{
    /* min-height: 90%; */
    background-color: rgb(147, 176, 148); 
/* background-color: gray; */
    /* background-color: red;  */
    /* overflow: visible; */
    height:100% ;
    width: 100%;
}